*~
*.bak
*.pyc
*.swp
.DS_Store
Thumbs.db
local.properties
build.xml
/samples/
platforms/
toolchains/*/prebuilt/
/ndk-stack*
/ndk-depends*
prebuilt/android-arm/
prebuilt/android-arm64/
prebuilt/android-mips/
prebuilt/android-mips64/
prebuilt/android-x86/
prebuilt/android-x86_64/
prebuilt/linux-x86/
prebuilt/linux-x86_64/
prebuilt/darwin-x86/
prebuilt/darwin-x86_64/
prebuilt/windows/
prebuilt/windows-x86_64/
prebuilt/common/scan-build/
prebuilt/common/scan-view/
tests/abcc/prebuilts/
