*~
*.bak
*.pyc
.gvide
Thumbs.db
local.properties
build.xml
samples/
platforms/
toolchains/*/prebuilt/
/ndk-stack*
prebuilt/
sources/host-tools/sed-4.2.1/doc/sed.1
sources/host-tools/sed-4.2.1/doc/sed.info
sources/host-tools/sed-4.2.1/doc/stamp-vti
sources/host-tools/sed-4.2.1/doc/version.texi
sources/host-tools/sed-4.2.1/autom4te.cache
