/MoreTeapots/
/Teapot/
/bitmap-plasma/
/gles3jni/
/hello-gl2/
/hello-jni/
/hello-neon/
/module-exports/
/native-activity/
/native-audio/
/native-codec/
/native-media/
/native-plasma/
/san-angeles/
/test-libstdc++/
/two-libs/
